@page
@using E_Migrant.App.Dominio.Entidades
@model E_Migrant.App.Frontend.Pages.ServiciosDisponiblesModel
@{
}
<h2>Listado de servicios disponibles</h2>
<form>
    Filtra
    <label asp-for="filtroTipoServicio">Selecciona el tipo de servicio a consultar:</label>
    <select asp-for="filtroTipoServicio" >
    <option value="Salud">Salud</option>
    <option value="Jurídicos">Jurídicos</option>
    <option value="ComidaPreparada">ComidaPreparada</option>
    <option value="Empleo">Empleo</option>
    <option value="AlojamientoTemporal">AlojamientoTemporal</option>
    <option value="AlojamientoPermanente">AlojamientoPermanente</option>
    <option value="Educación">Educación</option>
    <option value="Otros">Otros</option>
    </select>
    <button type="submit" asp-page-handler="Filtrar">Buscar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Nombre del servicio</th>
            <th>Cupo</th>
            <th>Fecha de inicio</th>
            <th>Fecha de cierre</th>
            <th>Estado del servicio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var servicio in Model.servicios)
            {
                if (@Model.filtroTipoServicio!=null){
                    if(servicio.TipoServicio.ToString() == @Model.filtroTipoServicio){
                        <tr>
                <td>@servicio.NombreServicio</td>
                <td>@servicio.Cupo</td>
                <td>@servicio.FechaInicio</td>
                <td>@servicio.FechaFinal</td>
                <td>@servicio.EstadoServicio</td>
                <td>
                    <a class="btn btn-primary table-btn" asp-page="./Detallesservicio" asp-route-idServicio="@servicio.Id">
                        <i class="bi bi-info-circle" aria-hidden="true"></i>
                        Detalle
                    </a>
                </td>
            </tr>
                    }
                }else{
<tr>
                <td>@servicio.NombreServicio</td>
                <td>@servicio.Cupo</td>
                <td>@servicio.FechaInicio</td>
                <td>@servicio.FechaFinal</td>
                <td>@servicio.EstadoServicio</td>
                <td>
                    <a class="btn btn-primary table-btn" asp-page="./Detallesservicio" asp-route-idServicio="@servicio.Id">
                        <i class="bi bi-info-circle" aria-hidden="true"></i>
                        Detalle
                    </a>
                </td>
            </tr>
                }
            
            }
        </tr>
    </tbody>
</table>
<a class="btn btn-primary table-btn" asp-page="./ServiciosDisponibles">
    <i class="bi bi-trash" aria-hidden="true"></i>
    Motrar todos
</a>
<a class="btn btn-primary table-btn" asp-page="../PanelControlMigrante">
    <i class="bi bi-trash" aria-hidden="true"></i>
    Volver
</a>
