@page
@using E_Migrant.App.Dominio.Entidades
@model E_Migrant.App.Frontend.Pages.ListaServiciosModel
@{
}

<h2>Listado de servicios ofrecidos</h2>

<form>
    Filtra
    <label asp-for="filtroEstadoServicio">Selecciona el tipo de servicio a consultar:</label>
    <select asp-for="filtroEstadoServicio" >
    <option value="Activos">Activos</option>
    <option value="Cerrados">Cerrados</option>
    <option value="ConCupo">ConCupo</option>
    <option value="SinCupo">SinCupo</option>

    </select>
    <button type="submit" asp-page-handler="Filtrar">Buscar</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>Nombre del servicio</th>
            <th>Cupo</th>
            <th>Fecha de inicio</th>
            <th>Fecha de cierre</th>
            <th>Estado del servicio</th>
        </tr>
    </thead>
    <tbody> 
        <tr>
            @foreach (var entidad in Model.entidades)
            {
            @foreach (var servicio in entidad.ServiciosOfrecidos)
            {
                if (@Model.filtroEstadoServicio!=null)
                {
                    if(servicio.EstadoServicio.ToString() == @Model.filtroEstadoServicio){
                          
            <tr>
                <td>@servicio.NombreServicio</td>
                <td>@servicio.Cupo</td>
                <td>@servicio.FechaInicio</td>
                <td>@servicio.FechaFinal</td>
                <td>@servicio.EstadoServicio</td>
                <td>
                    <a class="btn btn-secondary table-btn" asp-page="./RegistroServicio"
                    asp-route-idServicio="@servicio.Id">
                        <i class="bi bi-pencil-square" aria-hidden="true"></i>
                        Editar
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger table-btn" asp-page="./Eliminarservicio" asp-route-idServicio="@servicio.Id">
                        <i class="bi bi-trash" aria-hidden="true"></i>
                        Inhabilitar
                    </a>
                </td>
                
            </tr>
                    }   
                }else{
                      
            <tr>
                <td>@servicio.NombreServicio</td>
                <td>@servicio.Cupo</td>
                <td>@servicio.FechaInicio</td>
                <td>@servicio.FechaFinal</td>
                <td>@servicio.EstadoServicio</td>
                <td>
                    <a class="btn btn-secondary table-btn" asp-page="./RegistroServicio"
                    asp-route-idServicio="@servicio.Id">
                        <i class="bi bi-pencil-square" aria-hidden="true"></i>
                        Editar
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger table-btn" asp-page="./Eliminarservicio" asp-route-idServicio="@servicio.Id">
                        <i class="bi bi-trash" aria-hidden="true"></i>
                        Inhabilitar
                    </a>
                </td>
                
            </tr>
                }
              
            }}
        </tr>
    </tbody>
</table>
<a class="btn btn-primary table-btn" asp-page="../PanelControlEntidad">
    <i class="bi bi-trash" aria-hidden="true"></i>
    Volver
</a>
